<template>
  <v-card>
    <v-card-title>Quantidade Notas Fiscais por Natureza da Operação</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-autocomplete
              v-model="naturezaOperacao"
              :items="naturezasOperacao"
              :loading="carregandoNaturezaOperacao"
              :search-input.sync="buscaNaturezaOperacao"
              hide-no-data
              label="Digite o nome de uma natureza de operação"
              placeholder="Digite o nome de uma natureza de operação (Ex.: Venda a prazo)"
              return-object
              outlined
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-card-actions class="justify-end">
        <v-btn color="primary" @click="recuperarDados">
          CONSULTAR
          <v-icon dense right>mdi-magnify</v-icon>
        </v-btn>
      </v-card-actions>
      <div v-if="carregando || dados.length">
        <v-divider/>
        <v-text-field class="mx-2"
                      v-model="busca"
                      append-icon="mdi-magnify"
                      label="Busca"
                      single-line
                      hide-details
        ></v-text-field>
        <v-data-table :headers="headers"
                      :items-per-page="20"
                      class="elevation-1 mt-3"
                      :items="dados"
                      :loading="carregando"
                      :search="busca"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import analiseTransparenciaService from "@/analiseTransparencia.service";

export default {
  name: 'ConsultaNotasFiscaisPorNaturezaOperacao',

  data() {
    return {
      dados: [],
      busca: '',
      naturezaOperacao: '',
      naturezasOperacao: [],
      buscaNaturezaOperacao: '',
      carregandoNaturezaOperacao: false,
      headers: [{text: 'Natureza Operacao', value: 'natureza'},
        {text: 'Quantidade', value: 'quantidade'},
      ],
      carregando: false
    }
  },

  methods: {
    async recuperarDados() {
      this.carregando = true;

      await analiseTransparenciaService.recuperarQuantidadeNotasFiscaisPorNaturezaOperacao(this.naturezaOperacao)
          .then(response => {
            this.dados = response.data;
          });

      this.carregando = false;
    }
  },

  watch: {
    buscaNaturezaOperacao(val) {
      if (val && val.length > 3) {
        this.carregandoNaturezaOperacao = true;
        analiseTransparenciaService.recuperarNomesNaturezaOperacaoAutocomplete(this.buscaNaturezaOperacao)
            .then(response => {
              this.naturezasOperacao = response.data;
              this.carregandoNaturezaOperacao = false;
            });
      }
    }
  }
}
</script>
