<template>
  <v-card>
    <v-card-title>Nota Fiscal Detalhada</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-text-field align-self="center" outlined label="Digite a chave da Nota Fiscal" v-model="chave"/>
        </v-col>
        <v-spacer/>
        <v-col align-self="center" cols="2">
          <v-btn color="primary" @click="recuperarNotaFiscalCompleta">
            CONSULTAR
            <v-icon dense right>mdi-magnify</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <div v-if="carregando || produtos.length">
        <v-divider/>
        <h2><p>Informações da Nota Fiscal:</p></h2>
        <div :key="valor.chave" v-for="(valor, campo) in notaFiscal">
            <h3>{{campo}}</h3>
            <p>{{valor}}</p>
        </div>    
        <v-divider/>
        <v-text-field class="mx-2"
                      v-model="busca"
                      append-icon="mdi-magnify"
                      label="Busca"
                      single-line
                      hide-details
        ></v-text-field>
        <v-data-table :headers="headers"
                      :items-per-page="20"
                      class="elevation-1 mt-3"
                      :items="produtos"
                      :loading="carregando"
                      :search="busca"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import analiseTransparenciaService from "@/analiseTransparencia.service";

export default {
  name: 'ConsultaNotaFiscalCompleta',

  data() {
    return {
      notaFiscal: {},  
      produtos: [],
      busca: '',
      chave: '',
      headers: [
        { text: 'Produto', value: 'produto' },
        { text: 'Quantidade', value: 'quantidade' },
        { text: 'Unidade', value: 'unidade' },
        { text: 'Valor Unitário', value: 'valorUnitario' },
        { text: 'CFOP', value: 'cfop' },
        { text: 'Tipo do Produto', value: 'tipoProduto' },
        { text: 'Subtotal', value: 'valorTotal' },
      ],
      carregando: false
    }
  },

  methods: {
    async recuperarNotaFiscalCompleta() {
      this.carregando = true;

      await analiseTransparenciaService.recuperarNotaFiscalCompleta(this.chave).then(response => {
        this.notaFiscal = response.data.notaFiscal;
        this.produtos = response.data.produtos;
      });

      this.carregando = false;
    }
  }
}
</script>
