<template>
  <v-card>
    <v-card-title>Notas Fiscais por periodo</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-text-field
              v-model="dataInicio"
              dense
              label="Data inicio"
              name="dataInicio"
              outlined
          ></v-text-field>
        </v-col>
        <v-col cols="6">
          <v-text-field
              v-model="dataFim"
              dense
              mas
              label="Data fim"
              name="dataFim"
              outlined
          ></v-text-field>
        </v-col>
      </v-row>
      <v-card-actions class="justify-end">
        <v-btn color="primary" @click="recuperarDados">
          CONSULTAR
          <v-icon dense right>mdi-magnify</v-icon>
        </v-btn>
      </v-card-actions>
      <div v-if="carregando || dados.length">
        <v-divider/>
        <v-text-field class="mx-2"
                      v-model="busca"
                      append-icon="mdi-magnify"
                      label="Busca"
                      single-line
                      hide-details
        ></v-text-field>
        <v-data-table :headers="headers"
                      :items-per-page="20"
                      class="elevation-1 mt-3"
                      :items="dados"
                      :loading="carregando"
                      :search="busca"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import analiseTransparenciaService from "@/analiseTransparencia.service";

export default {
  name: 'ConsultaNotasFiscaisPorPeriodo',

  data() {
    return {
      dados: [],
      busca: '',
      dataInicio: '2022-01-01',
      dataFim: '2022-01-31',
      headers: [{text: 'Chave', value: 'chave'},
        {text: 'Serie', value: 'serie'},
        {text: 'Numero', value: 'numero'},
        {text: 'Data Emissao', value: 'dataEmissao'},
        {text: 'Valor Total', value: 'valor'}
      ],
      carregando: false
    }
  },

  methods: {
    async recuperarDados() {
      this.carregando = true;

      await analiseTransparenciaService.recuperarNotasPorPeriodo(this.dataInicio, this.dataFim)
          .then(response => {
            this.dados = response.data;
          });

      this.carregando = false;
    }
  }
}
</script>
