<template>
  <v-card>
    <v-card-title>Notas Fiscais por produto</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-text-field align-self="center" outlined label="Digite o nome do produto" v-model="descricao"/>
        </v-col>
        <v-spacer/>
        <v-col align-self="center" cols="2">
          <v-btn color="primary" @click="recuperarProdutosComMaiorValor">
            CONSULTAR
            <v-icon dense right>mdi-magnify</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <div v-if="carregando || notasFiscais.length">
        <v-divider/>
        <v-text-field class="mx-2"
                      v-model="busca"
                      append-icon="mdi-magnify"
                      label="Busca"
                      single-line
                      hide-details
        ></v-text-field>
        <v-data-table :headers="headers"
                      :items-per-page="20"
                      class="elevation-1 mt-3"
                      :items="notasFiscais"
                      :loading="carregando"
                      :search="busca"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import analiseTransparenciaService from "@/analiseTransparencia.service";

export default {
  name: 'ConsultaNotasFiscais',

  data() {
    return {
      notasFiscais: [],
      busca: '',
      descricao: '',
      headers: [{ text: 'Chave de Acesso', value: 'chave' },
        { text: 'Produto', value: 'produto' },
        { text: 'Valor Total', value: 'valorTotal' },
      ],
      carregando: false
    }
  },

  methods: {
    async recuperarProdutosComMaiorValor() {
      this.carregando = true;

      await analiseTransparenciaService.recuperarNotasFiscaisPorProdutoDescricao(this.descricao).then(response => {
        this.notasFiscais = response.data;
      });

      this.carregando = false;
    }
  }
}
</script>
