<template>
  <v-row>
    <v-col :key="uf.id" v-for="uf in estados" cols="3">
      <v-dialog
          width="600px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-card>
            <v-card-title>
              {{uf.nome}} - {{uf.sigla}}
            </v-card-title>
            <v-card-text v-on="on"
                         v-bind="attrs"
                         @click="recuperarValoresEmitidosERecebidosPorUF(uf.sigla)">
              <image-viewer :file="uf"/>
            </v-card-text>
          </v-card>
        </template>
        <v-card v-if="!carregando">
          <v-card-title>
            <span class="text-h5">Informações sobre {{uf.nome}} - {{uf.sigla}}</span>
          </v-card-title>
          <v-card-text>
            <div class="texto-card mt-3">

              <b>Valor Total Emitido</b>: 
              R$ {{(Math.abs(Number(valores.valorEmitido)) / 1.0e+6).toFixed(1)}} Milhões
            </div>
            <div class="texto-card mt-1">
              <b>Valor Total Recebido</b>: 
              R$ {{(Math.abs(Number(valores.valorRecebido)) / 1.0e+6).toFixed(1)}} Milhões
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script>
import analiseTransparenciaService from "@/analiseTransparencia.service";
import imageViewer from "@/components/ImageViewer";

export default {
  name: "ConsultaEstados",

  components: {
    imageViewer
  },

  data() {
    return {
      estados: [],
      valores: {},
      carregando: false
    }
  },

  async created() {
    await analiseTransparenciaService.recuperarEstados().then(response => {
      this.estados = response.data;
    })
  },

  methods: {

    async recuperarValoresEmitidosERecebidosPorUF(sigla){
      this.carregando = true;

      await analiseTransparenciaService.recuperarValoresEmitidosERecebidosPorUF(sigla).then(
        response => {
          this.valores = response.data;
        }
      );

      this.carregando = false;

    }

  }
}
</script>

<style scoped>

  .texto-card {
    font-size: large;
  }

</style>