<template>
  <v-card>
    <v-card-title>Total gasto com determinado produto</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-text-field align-self="center" outlined label="Digite o valor mínimo gasto desejado" v-model="produto"/>
        </v-col>
        <v-spacer/>
        <v-col align-self="center" cols="2">
          <v-btn color="primary" @click="recuperarProdutos">
            CONSULTAR
            <v-icon dense right>mdi-magnify</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <div v-if="carregando || produtos.length">
        <v-divider/>
        <v-text-field class="mx-2"
            v-model="busca"
            append-icon="mdi-magnify"
            label="Busca"
            single-line
            hide-details
        ></v-text-field>
        <v-data-table :headers="headers"
                      :items-per-page="20"
                      class="elevation-1 mt-3"
                      :items="produtos"
                      :loading="carregando"
                      :search="busca"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
  import analiseTransparenciaService from "@/analiseTransparencia.service";

  export default {
    name: 'ConsultaProdutos',

    data() {
      return {
        produtos: [],
        busca: '',
        produto: '',
        headers: [{ text: 'Produto', value: 'produto' },
          { text: 'Valor Total', value: 'valorTotal' },
          { text: 'Quantidade', value: 'quantidade' }
        ],
        carregando: false
      }
    },

    methods: {
      async recuperarProdutos() {
        this.carregando = true;

        await analiseTransparenciaService.recuperarProdutosValorTotal(this.produto).then(response => {
          this.produtos = response.data.map(r => {
            return {
              produto: r.produto,
              valorTotal: parseFloat(r.valorTotal).toFixed(2),
              quantidade: r.quantidade
            };
          });
        });

        this.carregando = false;
      }
    }
  }
</script>
