<template>
  <v-card elevation="0">
    <v-card-title class="justify-center">
      <h4>10 Uniões Federativas que mais movimentaram valores em Notas Fiscais</h4>
    </v-card-title>
    <v-card-subtitle>
      <div class="d-flex my-2 justify-end align-center ">
        Atualizado em {{ atualizadoEm }}
        <v-btn
            class="ml-3"
            small
            icon
            @click="recuperarDados"
        >
          <v-icon>mdi-refresh</v-icon>
        </v-btn>
      </div>
    </v-card-subtitle>
    <v-card-text>
      <apex-chart
          ref="chart"
          type="bar"
          height="600"
          :options="grafico.chartOptions"
          :series="grafico.series"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import analiseTransparenciaService from "@/analiseTransparencia.service";
import luxon from "@/core/luxon";

export default {
  name: "GraficoTotalGastoPorEstado",

  created() {
    this.recuperarDados();
  },

  data() {
    return {
      atualizadoEm: "",
      grafico: {
        series: [
          {
            name: "Total Gasto",
            data: []
          }
        ],
        chartOptions: {
          chart: {
            type: "bar",
            toolbar: {
              show: false
            }
          },
          tooltip: {
            enabled: false
          },
          noData: {
            text: "Sem gastos por enquanto"
          },
          dataLabels: {
            enabled: true,
            offsetY: -20,
            style: {
              fontSize: '12px',
              colors: ['']
            }
          },
          legend: {
            show: false
          },
          grid: {
            strokeDashArray: 2
          },
          plotOptions: {
            bar: {
              borderRadius: 10,
              dataLabels: {
                position: 'top', // top, center, bottom
              },
              columnWidth: "50%",
              distributed: true
            }
          },

          xaxis: {
            labels: {
              style: {
                fontSize: "12px"
              }
            }
          },
          yaxis: {
            title: {text: "Total Gasto em Milhões"}
          }
        }
      }
    }
  },

  methods: {
    async recuperarDados() {
      await analiseTransparenciaService.recuperarDezEstadosQueMaisGastaram().then(response => {
        let data = response.data;
        this.$refs.chart.updateSeries([
          {
            data: data.map(d => {
              return {
                x: `${d.sigla}`,
                y: (Math.abs(Number(d.valorTotal)) / 1.0e+6).toFixed(1)
              };
            })
          }
        ]);
        this.atualizadoEm = luxon.local().setLocale('pt-br').toFormat("d 'de' LLLL 'de' yyyy 'às' TT")
      }).catch(() => {
      });
    }
  }
}
</script>

<style scoped>

</style>