<template>
  <v-img
      :src="image.src"
  >
    <template v-slot:placeholder>
      <v-row class="fill-height ma-0" align="center" justify="center">
        <v-progress-circular
            indeterminate
            color="grey darken-5"
        ></v-progress-circular>
      </v-row>
    </template>
  </v-img>
</template>

<script>
export default {
  name: "ImageViewer",

  props: {
    file: {type: Object, required: true}
  },

  data() {
    return {
      pathImage: "data:image/png;base64,",
      image: new Image()
    }
  },

  created() {
    this.image.src = this.pathImage + this.file.bandeira;
  }
}
</script>

<style scoped>

</style>