<template>
  <v-card>
    <v-card-title>Valor médio gasto por tipo produto</v-card-title>
    <v-card-text>
      <v-row>
        <v-col cols="6">
          <v-autocomplete
              v-model="tipoProduto"
              :items="tiposProduto"
              :loading="carregandoTipo"
              :search-input.sync="buscaTipo"
              hide-no-data
              label="Digite o nome de um tipo produto"
              placeholder="Digite o nome de um tipo produto"
              return-object
              outlined
          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-card-actions class="justify-end">
        <v-btn color="primary" @click="recuperarDados">
          CONSULTAR
          <v-icon dense right>mdi-magnify</v-icon>
        </v-btn>
      </v-card-actions>
      <div v-if="carregando || dados.length">
        <v-divider/>
        <v-text-field class="mx-2"
                      v-model="busca"
                      append-icon="mdi-magnify"
                      label="Busca"
                      single-line
                      hide-details
        ></v-text-field>
        <v-data-table :headers="headers"
                      :items-per-page="20"
                      class="elevation-1 mt-3"
                      :items="dados"
                      :loading="carregando"
                      :search="busca"
        />
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import analiseTransparenciaService from "@/analiseTransparencia.service";

export default {
  name: 'MediaPorTipoProduto',

  data() {
    return {
      dados: [],
      busca: '',
      tipoProduto: '',
      tiposProduto: [],
      carregandoTipo: false,
      buscaTipo: '',
      headers: [{text: 'Tipo Produto', value: 'tipoProduto'},
        {text: 'Media', value: 'media'}
      ],
      carregando: false
    }
  },

  methods: {
    async recuperarDados() {
      this.carregando = true;

      await analiseTransparenciaService.recuperarMediaPorTipoProduto(this.tipoProduto)
          .then(response => {
            this.dados = response.data.map(r => {
              return {
                tipoProduto: r.tipoProduto,
                media: parseFloat(r.media).toFixed(2)
              };
            });
          });

      this.carregando = false;
    }
  },

  watch: {
    buscaTipo(val) {
      if (val && val.length > 3) {
        this.carregandoTipo = true;
        analiseTransparenciaService.recuperarTiposProduto(this.buscaTipo)
            .then(response => {
              this.tiposProduto = response.data;
              this.carregandoTipo = false;
            });
      }
    }
  }
}
</script>
