<template>
  <div>
    <v-card elevation="5" rounded v-if="consultaSelecionada === 0" :key="consultaSelecionada">
      <v-card-title class="titulo justify-center">
        Bem-vindo ao Análise Transparência
      </v-card-title>
      <v-card-subtitle class="text-center">
        <b>Use o menu acima para escolher a consulta!</b>
      </v-card-subtitle>
      <v-divider/>
      <v-card-text class="text-center">
        <grafico-total-gasto-por-estado/>
      </v-card-text>
    </v-card>
    <consulta-produtos :key="consultaSelecionada"
                       v-if="consultaSelecionada === 1"/>
    <consulta-notas-fiscais :key="consultaSelecionada"
                             v-if="consultaSelecionada === 2"/>
    <consulta-quantidade-notas-fiscais-emitente-destinatario :key="consultaSelecionada"
                                                             v-if="consultaSelecionada === 3"/>
    <consulta-valor-gasto-por-emitente :key="consultaSelecionada"
                                       v-if="consultaSelecionada === 4"/>
    <consulta-qunatidade-notas-fiscais-por-natureza-operacao :key="consultaSelecionada"
                                        v-if="consultaSelecionada === 5 "/>
    <consulta-total-pago-por-destinatario :key="consultaSelecionada"
                                              v-if="consultaSelecionada === 6 "/>
    <media-gasta-por-tipo-produto :key="consultaSelecionada"
                                  v-if="consultaSelecionada === 7 "/>
    <consulta-estados :key="consultaSelecionada"
                      v-if="consultaSelecionada === 8" />
    <consulta-notas-por-periodo :key="consultaSelecionada"
                            v-if="consultaSelecionada === 9" />
    <consulta-nota-fiscal-completa :key="consultaSelecionada"
                            v-if="consultaSelecionada === 10"/>
  </div>
</template>

<script>
import consultaProdutos from "@/components/ConsultaProdutos";
import graficoTotalGastoPorEstado from "@/components/GraficoTotalGastoPorEstado";
import consultaNotasFiscais from "@/components/ConsultaNotasFiscais";
import consultaQuantidadeNotasFiscaisEmitenteDestinatario
  from "@/components/ConsultaQuantidadeNotasFiscaisEmitenteDestinatario";
import consultaValorGastoPorEmitente from "@/components/ConsultaValorGastoPorEmitente";
import consultaQunatidadeNotasFiscaisPorNaturezaOperacao 
  from "@/components/ConsultaQunatidadeNotasFiscaisPorNaturezaOperacao";
import consultaTotalPagoPorDestinatario from "@/components/ConsultaTotalPagoPorDestinatario";
import mediaGastaPorTipoProduto from "@/components/MediaGastaPorTipoProduto";
import consultaEstados from "@/components/ConsultaEstados";
import consultaNotasPorPeriodo from "@/components/ConsultaNotasPorPeriodo";
import consultaNotaFiscalCompleta from "@/components/ConsultaNotaFiscalCompleta";

export default {
  name: 'HomeView',

  props: {
    consultaSelecionada: Number
  },

  components: {
    consultaProdutos,
    consultaNotasFiscais,
    graficoTotalGastoPorEstado,
    consultaQuantidadeNotasFiscaisEmitenteDestinatario,
    consultaValorGastoPorEmitente,
    consultaQunatidadeNotasFiscaisPorNaturezaOperacao,
    consultaTotalPagoPorDestinatario,
    mediaGastaPorTipoProduto,
    consultaEstados,
    consultaNotasPorPeriodo,
    consultaNotaFiscalCompleta
}
}
</script>
